## How to interact pandas with SQL queries.

In [2]:
import psycopg2
import os
import datetime
import pandas as pd
from dotenv import load_dotenv
from typing import List

In [3]:
load_dotenv()

True

In [4]:
credentials = {
    "user": os.environ.get("DB_USER"),
    "host": os.environ.get("DB_HOST"),
    "db": os.environ.get("DB_DATABASE"),
    "password": os.environ.get("DB_PASSWORD"),
    "port": os.environ.get("DB_PORT"),
}

In [5]:
def export_connection() -> psycopg2.extensions.connection:
    try:
        connection = psycopg2.connect(
            user=credentials["user"],
            host=credentials["host"],
            password=credentials["password"],
            port=credentials["port"],
            database=credentials["db"],
        )
        return connection
    except (Exception, psycopg2.Error) as error:
        print("Error while connect to postgresql", error)

In [6]:
connection = export_connection()

In [7]:
def export_dataframe(
    connection: psycopg2.extensions.connection, query: str, column_names: List[str]
) -> pd.DataFrame:
    """
    A função export_dataframe recebe os seguintes parâmetros:
    connection -> conexão com o banco de dados.
    query -> uma string com uma consulta SQL.
    column_names -> um vetor com o nome das colunas para o dataframe exportado.

    A função basicamente executa a query passada e exporta todos os dados
    de resposta para um dataframe da biblioteca pandas.
    """
    try:
        rows = []
        with connection as con:
            with con.cursor() as cursor:
                cursor.execute(query)
                rows = cursor.fetchall()
        df = pd.DataFrame(rows, columns=column_names)
        return df
    except psycopg2.Error as e:
        print(f"An error occured: {e}")

In [8]:
df = export_dataframe(
    connection,
    "SELECT * FROM users_shop",
    ["users_id", "users_name", "users_cpf", "created_at", "updated_at"],
)

In [9]:
df

,users_id,users_name,users_cpf,created_at,updated_at
0,1,Yan Rodrigues,008.821.293-17,2023-01-12 16:02:24.368170,2023-01-12 16:02:24.368170
1,2,Alanderson rock hands,007.009.008-10,2023-01-12 16:07:09.767632,2023-01-12 16:07:09.767632

## Getting how many users there are.

In [10]:
number_users = df["users_id"].count()

In [11]:
number_users

2